.job {
  display: flex;
  justify-content: space-between;
}

.details {
  display: flex;
  align-items: center;
}

.details img {
  margin-right: 1rem;
}

.details_header > div {
  display: inline-block;
  margin-right: 0.5rem;
}

.details_header > div:last-child {
  margin-right: 0;
}

.company {
  font-weight: 700;
  color: hsl(180, 8%, 52%);
}

.position {
  font-weight: 700;
  color: hsl(180, 14%, 20%);
}

.position:hover {
  color: hsl(180, 29%, 50%);
  cursor: pointer;
}

.details_footer > span {
  margin-right: 1rem;
}

.dot {
  background: hsl(180, 8%, 52%);
  width: 3px;
  border-radius: 50%;
  height: 3px;
  display: inline-block;
  margin-bottom: 2px;
}