.job {
  display: flex;
  justify-content: space-between;
}

.details {
  display: flex;
  align-items: center;
}

.details img {
  margin-right: 1rem;
}

.details_header > div {
  display: inline-block;
  margin-right: 0.5rem;
}

.company {
  font-weight: 700;
  color: hsl(180, 8%, 52%);
}

.position {
  font-weight: 700;
  color: hsl(180, 14%, 20%);
}