.container {
  color: #fff;
  background-color: hsl(180, 29%, 50%);
  font-size: 0.75rem;
  font-weight: 700;
  padding: 8px 8px 5px 8px;
  border-radius: 15px;
}

.dark {
  background-color: hsl(180, 14%, 20%);
}